<div class="panel panel-default formulaire">
  <div class="panel-heading">
    Modifier Candidat
  </div>
  <%= render 'form', candidate: [:admin, @candidate] %>
</div>
<%= link_to 'Show', admin_candidate_path %> |
<%= link_to 'Back', admin_candidates_path %>
