<h1>Modifier le candidat</h1>

<%= render 'form', candidate: @candidate %>

<%= link_to 'Voir le détail du candidat', admin_candidate_path %> |
<%= link_to 'Retour à la liste des candidats', admin_candidates_path %>
