<h1>Modifier l'administrateur</h1>

<%= render 'form', admin: @admin %>

<%= link_to 'Voir le compte adminsitrateur', admin_admins_path %> |
<%= link_to 'Retour à la liste des administrateurs', admin_admins_path %>
