/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, body{
  font-family: "open_sans",Arial,Helvetica,sans-serif !important;
  font-weight: 100 !important
}

.navbar{
  min-height: 90px !important;
}

.navbar-brand img{
  height: 80px;
}

.navbar-nav > li > a{
  padding:35px !important;
  color:black !important;
  font-size: 16px !important;
}

.btn{
  background-color: #0B6BA8 !important;
}

#homeButton{
  text-align: center;
}
a.btn:visited {
color:white !important;
}

.candidates img{
  width: 30%;
  float:left;
  margin-bottom: 40px;

}

.candidates h3{
  color: #0B6BA8;
  text-align: center;
  margin-top: 50px;
}

.candidates p{
  color: #0B6BA8;
  text-align: center;
}


.candidates {
  padding : 20px;
}

.candidates .divider{
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: #0B6BA8;
  clear: both;
}
 @import "bootstrap"
